<footer>
  <div class="container">
    <div class="footer-left">
      <div class="footer-social">
        <a href="#" target="_blank" class="icon icon-facebook"></a>
        <a href="#" target="_blank" class="icon icon-linkedin"></a>
        <a href="#" target="_blank" class="icon icon-telegram"></a>
      </div>
    </div>
    <div class="footer-center">
      <span class="footer-copyright">© Copyright Rock’n’Block 2019</span>
      <a href="mailto:hello@rocknblock.io" class="footer-mail icon icon-flex icon-mail">hello@rocknblock.io</a>
    </div>
    <div class="footer-right">
      <span class="footer-address">197376, St. Petersburg, Lev Tolstoy street, 7A</span>
      <a href="tel:+78124297434" class="footer-phone link">+7 (812) 429-74-34</a>
    </div>
  </div>
</footer>
