@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;

    @if $asset-pipeline==true {
      src: font-url('#{$file-path}.eot');
      src: font-url('#{$file-path}.eot?#iefix') format('embedded-opentype'), font-url('#{$file-path}.woff') format('woff'), font-url('#{$file-path}.ttf') format('truetype');
    } @else {
      src: url('#{$file-path}.eot');
      src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'), url('#{$file-path}.woff') format('woff'), url('#{$file-path}.ttf') format('truetype');
    }
  }
}

@mixin notext {
  overflow: hidden;
  text-indent: -9999px;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

@mixin placeholderColor($input-text-color) {
  &::-webkit-input-placeholder {
    color: $input-text-color;
  }

  &:-moz-placeholder {
    color: $input-text-color;
    opacity: 1;
  }

  &::-moz-placeholder {
    color: $input-text-color;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: $input-text-color;
  }

  &::placeholder {
    color: $input-text-color;
    opacity: 1;
  }

  &:focus:-moz-placeholder {
    color: transparent;
    opacity: 1;
  }

  &:focus::-moz-placeholder {
    color: transparent;
    opacity: 1;
  }

  &:focus::-webkit-input-placeholder {
    color: transparent;
  }

  &:focus:-ms-input-placeholder {
    color: transparent;
  }

  &:focus::placeholder {
    color: transparent;
  }
}

@mixin clearfix {
  &:after {
    content: ' ';
    display: block;
    clear: both;
  }
}

// clear select without default button
@mixin clearSelect {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

// breakpoints
@mixin b($point) {
  @if $point==desktop {
    @media (max-width: 1366px) and (min-width: 1024px) {
      @content;
    }
  } @else if $point==tablet {
    @media (max-width: 1000px) {
      @content;
    }
  } @else if $point==mobile {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $point==mobile3x {
    @media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 3dppx), only screen and (min-resolution: 350dpi) {
      @content;
    }
  } @else {
    @media (max-width: $point + 'px') {
      @content;
    }
  }
}

@mixin bb($pointMax, $pointMin) {
  @media (max-width: $pointMax + 'px') and (min-width: $pointMin + 'px') {
    @content;
  }
}

@mixin before-img($display, $width, $height, $position) {
  @at-root #{&}:before {
    content: '';
    display: $display;
    background-size: $width $height;

    @if $position==a {
      position: absolute;
    }

    @if $position==r {
      position: relative;
    }

    width: $width;
    height: $height;
    @content;
  }
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin textCut($col, $height) {
  display: -webkit-box;
  -webkit-line-clamp: $col;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: $height;
}

@mixin theme($name, $icons) {
  ##{$name} {
    @each $className, $iconPath, $iconType in $icons {
      .icon-#{$className} {
        &:before {
          background-image: url('../assets/img/icons/#{$name}/icon-#{$iconPath}.#{$iconType}');
        }
      }
    }
  }
}

@mixin theme-mask($icons) {
  @each $className, $iconPath, $iconType in $icons {
    .icon-#{$className} {
      &:before {
        mask: url('../assets/img/icons/mask/icon-#{$iconPath}.#{$iconType}') no-repeat 100% 100%;
        -webkit-mask: url('../assets/img/icons/mask/icon-#{$iconPath}.#{$iconType}') no-repeat 100% 100%;
      }
    }
  }
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}
