// default theme (white)
:root {
  --body-background-color: #1d1b21;

  --section-title-color: linear-gradient(87.05deg, #ffffff 54.97%, #171628 152.38%);
  --section-title-description: #ffffff;

  --header-background-color: #ffffff;
  --header-box-shadow: 0px 4px 25px rgba(211, 224, 219, 0.25);

  --icon-arrow-long-background-color: #ffffff;

  --icon-areas-blockchain-background: linear-gradient(0deg, #7f85a8 0%, #6b6b8b 100%);
  --icon-areas-fintech-background: linear-gradient(0deg, #7f85a8 0%, #6b6b8b 100%);
  --icon-areas-software-background: linear-gradient(0deg, #7f85a8 0%, #6b6b8b 100%);
  --icon-areas-things-background: linear-gradient(0deg, #7f85a8 0%, #6b6b8b 100%);
  --icon-areas-machine-learning-background: linear-gradient(0deg, #7f85a8 0%, #6b6b8b 100%);

  --icon-areas-background-hover: linear-gradient(0deg, #c35330 0%, #fab7a2 47.33%, #f4673b 100%);
}

//dark theme
#dark {
  body {
    --body-background-color: #1d1b21;

    --section-title-color: linear-gradient(87.05deg, #ffffff 54.97%, #171628 152.38%);
    --section-title-description: #ffffff;

    --header-background-color: #ffffff;
    --header-box-shadow: 0px 4px 25px rgba(211, 224, 219, 0.25);

    --icon-arrow-long-background-color: #ffffff;

    --icon-areas-blockchain-background: linear-gradient(0deg, #7f85a8 0%, #6b6b8b 100%);
    --icon-areas-fintech-background: linear-gradient(0deg, #7f85a8 0%, #6b6b8b 100%);
    --icon-areas-software-background: linear-gradient(0deg, #7f85a8 0%, #6b6b8b 100%);
    --icon-areas-things-background: linear-gradient(0deg, #7f85a8 0%, #6b6b8b 100%);
    --icon-areas-machine-learning-background: linear-gradient(0deg, #7f85a8 0%, #6b6b8b 100%);

    --icon-areas-background-hover: linear-gradient(0deg, #c35330 0%, #fab7a2 47.33%, #f4673b 100%);
  }
}
